MainProcessWithUnitTestDemo/Schemas/Books.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema--><xsd:schema xmlns="http://www.example.com/xsd/books" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.com/xsd/books">
	<xsd:element name="BookStore" type="BookStoreType"/>
	<xsd:element name="Book" type="BookType"/>
	<xsd:element name="Title" type="TitleType"/>
	<xsd:complexType name="TitleType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="Author" type="xsd:string"/>
	<xsd:element name="Date" type="xsd:string"/>
	<xsd:element name="ISBN" type="ISBNType"/>
	<xsd:complexType name="ISBNType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="Publisher" type="xsd:string"/>
	<xsd:complexType name="BookStoreType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" ref="Book"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BookType">
		<xsd:sequence>
			<xsd:element ref="Title"/>
			<xsd:element ref="Author"/>
			<xsd:element ref="Date"/>
			<xsd:element ref="ISBN"/>
			<xsd:element ref="Publisher"/>
        </xsd:sequence>
	</xsd:complexType>
</xsd:schema>
